/* app/globals.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #FDFAF6;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}

ul {
  list-style: disc;
}
